<!DOCTYPE html>
<html lang="en">
<head>
    <% include ../partials/head %>
</head>

<body>
<header>
    <% include ../partials/header %>
</header>

 <a class="btn btn-info" role="button" href="https://sfsuse.com/fa17g02/search?q=">Back</a>

<div class="container text-center">
    <div class="row">
        <div class="col-sm-12">
<br>
      <form class="search" action="../search" method="get">
        <div class="input-group">
          <div class="input-group-addon"><span><i class="glyphicon glyphicon-search"></i></span></div>
          <input class="form-control search bar" type="text" placeholder="Enter Street, City, State, or Zip" maxlength="40" name="q">
          <div class="input-group-btn"><button  class="btn btn-success" type="submit">Search </button></div>
        </div>
      </form>

        </div>
    </div>
</div>

    <div id="emp">
    </div>

 <div class="container">
   <div class="row">
     <div id="map" class="col-sm-10 col-xs-10 col-md-10 col-lg-10">
     </div>
   </div>
 </div>
 <hr>

 <div class="container">
   <div class="row">
     <div class="col md-4 col-sm-12">

       <% for (var i = 0; i < data.length; i++) { %>
         <div class="row" id="description">
           <p id="address"><b> Address: </b> <%= data[i].Address %>
             , <%= data[i].City %> <%= data[i].Zip %> <%= data[i].State %> </p>
	</div>
       <% } %>

       <% if (data.length == 0) { %>
         <div class="row">
           <b> Invalid Listing </b> <br>
           <b> SFSU - Default Location </b>
         </div>
       <% } %>
     </div>
   </div>
 </div>   
  
    <div id="emp">
    </div>

<script>
    function initMap() {
        var map = new google.maps.Map(document.getElementById('map'), {
            zoom: 14,
            center: {lat: 37.7749, lng: -122.4194}
        });
        var geocoder = new google.maps.Geocoder();
        geocodeAddress(geocoder, map)
    }

    function geocodeAddress(geocoder, resultsMap) {
        <% for (var i = 0; i < data.length; i++) { %>
        geocoder.geocode({'address': '<%= data[i].Address %>, <%= data[i].City %> <%= data[i].Zip %> <%= data[i].State %>'}, function (results, status) {
            if (status === 'OK') {
                resultsMap.setCenter(results[0].geometry.location);
                var marker = new google.maps.Marker({
                    map: resultsMap,
                    position: results[0].geometry.location
                });
            } else {
                alert('Geocode was not successful for the following reason: ' + status);
            }
        });
        <% } %>

    }
</script>

<script async defer
        src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAehS__N7Fe6CJQo43l90_fgRMsLzR7uUo&callback=initMap">
</script>

<div id=footer>
    <% include ../partials/footer %>
</div>

<% include ../partials/style %>
<% include ../partials/plugins %>
</body>
</html>

