<!DOCTYPE html>
 <html lang="en">
  <head>
        <% include ../partials/head %>
  </head>

  <body>
	<header>
        	<% include ../partials/header %>
        </header>
        
        <div class="container text-center">
        	<div class="row">
                	<div class="col-sm-12">
                        	<h1> San Francisco State University</h1>
                                <p> Software Engineering CSC 648 </p>
                                <p> Fall 2017</p>
                                <p> Section 02 - Team 02</p>

                                	<form action="search" method="get">
                                        	<input type="text" name="q" placeholder="Search"  autocomplete="off">
        		                              <button class="btn btn-danger" type="submit" value="search">
	                	                         <span class="glyphicon glyphicon-search"></span>
                                		       </button>
                                        </form>
                        </div>
                </div>
		              
		        <div class="row">
                        	<div class="col-sm-12">
		                   <br>
                                	<% if ( data.length) { %>
                                        	<h4> Found <%= (data.length ) %> Results </h4>
                                        <% } %>
                                        <% if (data.length== 0) { %>
                                                <h4> No Result Found </h4>
                                        <% } %>
                                   <br>
				</div>
			</div>
		</div>

		<% for (var i = 0; i < data.length; i++) { %>
		<div class="row">
    			<hr>
       				 <div class="col-sm-5 col-xs-5 col-md-5 col-lg-5">
         			     <img src="https://sfsuse.com/fa17g02/images/<%= data[i].Image %>.jpg" class="img-responsive center-block" style="width:200px;height:150px;" />
       				 </div>
       				 <div class="col-sm-3 col-xs-3 col-md-3 col-lg-3">
	 				 <ul style="list-style-type:none">
			                         <li id="address" name="address"> <b> Address: </b> <%= data[i].Address %> </li>
	   					 <li id="city"> <b> City: </b> <%= data[i].City %> </li>
	   					 <li id="state"> <b> State: </b> <%= data[i].State %> </li>
	   					 <li id="zip"> <b> Zip: </b> <%= data[i].Zip %> </li>
					 </ul>
			
	<!--				 <div class="col-sm-4 col-xs-4 col-md-4 col-lg-4" id="map">
				</div>
	-->

<!--                                        <form action="listing" method="get">

<a href="/fa17g02/listing/<%= data[i].id %>" name =""<%= data[i].id %>" class="btn btn-primary" >View Property</a>

                                        </form>
-->
                                        <a href="/fa17g02/listing/<%= data[i].id %>" class="btn btn-primary" >View Property</a>
       				 </div>                                       
		</div>
		<% } %>
       
                <% if (data.length== 0) { %>
                	<div class="text-center col-sm-12 col-xs-12 col-md-12 col-lg-12">
                        	Invalid Search 
                        </div>
                <% } %>
    
<!-- Google Map API Key= AIzaSyAi5ztmDz8Plo3g-yo4Yb8JahY8BS-xubM -->

<script>
	var map;
	var geocoder;
	function initMap() {
		// Set initial map options
		var mapOptions = {
			center: {lat: 37.722, lng: -122.478}, // SFSU as default location
			zoom: 15,
		}
		map = new google.maps.Map(document.getElementById('map'), mapOptions);
	
		// Geocode and add a marker
		geocoder = new google.maps.Geocoder();

		// Geocode address string passed in from listing controller
		geocoder.geocode( { 'address': '1630 Holloway Ave, San Francisco 94132 CA' }, function(results, status) {
			if(status == 'OK') {
				// Set center of map to geocoded location
				map.setCenter(results[0].geometry.location);
	
				// Add marker at geocoded location
				var marker = new google.maps.Marker({
					map: map,
					position: results[0].geometry.location
				});
			}
			else {
				// Geocoding failed
				// Add error handling
			}
		});
	}
</script>

<!--    <script>

      function initMap() {
        var uluru = {lat:37.7749, lng:-122.4194};
        var map = new google.maps.Map(document.getElementById('map'), {
          zoom: 8,
          center: uluru
        });
        var marker = new google.maps.Marker({
          position: uluru,
          map: map
        });
      }
    </script>
-->

<!--    <script async defer
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAi5ztmDz8Plo3g-yo4Yb8JahY8BS-xubM&callback=initMap">
    </script>

    <style>
       #map {
        height: 150px;
        width: 100%;
       }
    </style>

-->
            <div id=footer>
                	<% include ../partials/footer %>
                </div>

         <% include ../partials/style %>
   	 <% include ../partials/plugins %>
   </body>
</html>

